<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="rext-center">
                    <h1>Registre-se</h1>
                    <h6>Registrar novo usuário?</h6>
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Nome  </label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">  CRM    </label>
                            <input type="number" class="form-control" id="exampleInputPassword1">
                          </div>

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email  </label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Senha  </label>     
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="button" class="btn btn-primary">Registre-se</button>
                </form>

                <a routerLink="/login">Já registrado? Clique aqui pra logar!</a>
                </form>
           </div>
       </div>
    </div>
</div>


    
         



