
.card{
    border: none;
    width: 500px;
    padding: 50px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(166, 207, 237); 
    background: linear-gradient(90deg, rgb(180, 209, 231)0%, rgb(188, 191, 228)100%);
}

.card h1,
h6 { 
    color: rgb(252, 253, 255)
} 
label {
    color: rgb(243, 243, 246)
}